body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
pre > code {
	padding: 10px 0;
	font-size: 100%;
}
#mainContent {
	margin-left: 0px;
	padding: 0 10px;
	position: relative;
	display: none;
}
#header {
	text-align: right;
	padding: 0 10px;
	line-height: 35px;
	font-size: 13px;
}
#header .help {
	width: 25px;
	text-align: right;
	color: #F3B001;
	font-size: 20px;
}
#header button{
	height: 20px;
	line-height: 15px;
	margin: 0;
	padding: 1px;
	width: 50px;
	text-transform: none;
}
#header input{
	height: 20px;
	margin: 0;
	padding: 2px 5px;
	margin-right: 5px;
	width: 100px;
}
#sidebar {
	padding: 10px;
	border-right: 1px solid #a7d7f9;
	height: 100vh;
	width: 95%;
	position: fixed;
	overflow-y: auto;
	background: #F6F6F6;
	z-index: 9;
	margin-top: -35px;
	font-size: 13px;
	border-image: linear-gradient(to top, #777, rgba(0, 0, 0, 0.05)) 1 70%;
}
#sidebar .logo{
	text-align: center;
}
#sidebar input{
	height: 25px;
	padding: 0 10px;
}
#sidebar .logo img{
	padding-top: -20px;
}
#sidebar .fa-bars {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 25px;
	cursor: pointer;
	display: block;
}
#sidebar h1 a{
	color: black;
	text-decoration: none;
}
#sidebar a.active{
	font-weight: bold;
}
#mainContent h1{
	font-size: 1.8em;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.5em;
	line-height: 1.5em;
}
#mainContent p {
	margin-bottom: 10px;
}
#mainContent .delete{
	color: #ba0000;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
}
#mainContent .addSession {
	text-align: right;
	padding: 20px 0;
}
#mainContent .addSession button{
	padding: 0 5px;
	margin: 0;
	line-height: 25px;
	width: 125px;
	height: 30px;
}
#mainContent .fa-bars {
	font-size: 25px;
	cursor: pointer;
	position: absolute;
	top: -30px;
	width: 30px;
	background: white;
}
.section {
    border-radius: 4px;
    border: 1px solid #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.section p {
    padding: 2px 5px;
    margin-bottom: 2px;
}
.section ul {
    padding-left: 20px;
}
.section h5 {
    margin: 8px 0;
}
.section .tools {
	height: 25px;
	background: #eee;
	line-height: 23px;
}
.section .tools i{
	width: 25px;
	text-align: center;
	cursor: pointer;
	line-height: 25px;
	font-size: 13px;
}
.section .save{
	float: right;
	padding-top: 10px;
}
.section .save button{
	height: 30px;
	line-height: 25px;
	padding: 0 5px;
	margin: 0;
	margin-left: 2px;
}
.section .save button.cancel{
	background: #eee;
}
.section .save button.save{
	background: green;
	color: white;
}
.tools i:hover{
	background: #d1d1d1;
}
.section :last-child {
    margin-bottom: 0;
}
.section textarea {
    border-radius: 0;
    margin: 0;
    min-height: 100px;
}
.editing {
	background: #eee;
	margin-top: 10px;
    padding-bottom: 5px;
}
a.no-content {
	color: #ba0000 !important;
	cursor: pointer;
}
.no-content a{
	color: #ba0000 !important;
}
.editable:not(.editing):hover {
    border-color: #d1d1d1;
}
.locked {
    border-color: #ececec;
    background: #d1d1d1;
}
.error {
	color: #ba0000;
	padding-right: 20px;
}
.show {
	display: block;
}
.hide {
	display: none;
}
#mainContent.show {
	display: block;
}
#mainContent.hide {
	display: none;
}

@media only screen and (min-width: 600px) {
	#sidebar {
		width: 250px;
		display: block !important;
	}
	#mainContent {
		display: block;
		margin-left: 270px;
	}
	#mainContent h1{
		padding-left: 0;
	}
	#mainContent .fa-bars{
		display: none;
	}
	#sidebar .fa-bars {
		display: none;
	}
}